%h1

  = @user.firstname

  = @user.lastname

= gravatar_for @user

%p
  Email:
  = @user.email

%div
  My reviews:
  %ol
  - @reviews.each do |review|
    %li
    Product name:
    = review.product.title if review.product
    %li
    Review content:
    = review.content
    %li
    Rate:
    = review.rating
    %li Date
    = review.created_at.to_date.strftime('%d-%m-%Y')
