%h1
  Products in
  = category.name
%table.table

  - products.each do |product|
    %tr
      %td= link_to product.title, category_product_path(category, product)
      %td= product.description
      %td= product.price.to_s(:currency, precision: 2)
      %td
        = link_to category_product_path(product.category, product), class: "btn btn-default" do
          %span.glyphicon.glyphicon-eye-open
          Show
        - if product.user == current_user
          = link_to edit_category_product_path(product.category, product), class: "btn btn-default" do
            %span.glyphicon.glyphicon-pencil
            Edit
          = link_to category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do
            %span.glyphicon.glyphicon-trash
            Delete
