%h1
  Products in
  = category.name
- products.each do |product|
  %div
    %h2
      = link_to product.title, category_product_path(category, product)
      = product.price.to_s(:currency, precision: 2)

    %p
      - if product.user == current_user
        = link_to 'Edit', edit_category_product_path(product.category, product), class: "btn btn-primary"
        = link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"
