-if notice != nil
  %p.alert.alert-info#notice= notice
-if flash[:error] != nil
  %p.alert.alert-danger#error= flash[:error]

%h1
  = product.title
%p
  = link_to category.name, category_path(category)
  = product.price.to_s(:currency, precision: 2)
-if product.average_rating
  %p
    - product.average_rating.round.times do
      %span.glyphicon.glyphicon-star-empty.rating

%p
  = product.description

%h3 Reviews
= render reviews
= render 'reviews/form'

-if product.user == current_user
  = link_to 'Edit', edit_category_product_path(category.id, product.id)
  \|
= link_to 'Back', category_products_path, class: 'btn btn-primary'
