!!!
%html{ lang: 'en' }
  %head
    %title #{AppConfig.workshops_name}
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %span.navbar-brand #{AppConfig.workshops_name}
        %p.navbar-text.navbar-right
          - if user_signed_in?
            = link_to 'My Profile', current_user, class: "btn btn-default"
            = link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-default"
          - else
            = link_to 'Log in', new_user_session_path, class: "btn btn-default"
            = link_to 'Sign up', new_user_registration_path, class: "btn btn-default"
    .container-fluid
      .row
        .row-user
          .col-md-3.left-panel.col-height
            = gravatar_for(user)
            %p.text-center
              %strong
                = mail_to user.email
            %ul
              %li= link_to 'My products', my_products_path
              %li= link_to 'My reviews', user_path(params[:id])
              %li= link_to 'Reviews to my products', my_product_reviews_path
          .col-md-9.col-height
            .main
              = yield
